<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Flaskapp</title>
     <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

  <body>
    <div class="page">
            <!-- send all flash messages at the top of the page, anything in views.py with flash()-->
            {% for message in get_flashed_messages() %}
                <div class="flash"><strong>{{ message }}</strong></div>
            {% endfor %}

            <!-- send all error messages at the top of the page. -->
            {% if error %}
                <div class="error"><strong>Error:</strong> {{ error }}</div>
            {% endif %}
            <br>

      {% block content %}
      {% endblock %}
    </div>
  <br/>
  </body>
</html>