<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Flaskapp</title>
     <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

  <body>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/npm.js"></script>
    <div class ="container">
  <form method='POST' action='/'>
    <select name="submit">
        <option value="on">ls -l</option>
        <option value="off">uname -a</option>
        <option value="shell">gethostname from MON</option>
        <option value="myping">ping yahoo</option>
    </select>
    <input type="submit" name="submit" />
	<br/>
  </form>

      {% block content %}
      {% endblock %}
  <br/>
    </div>
  </body>
</html>